.black {
    background-color: #222831;
}

.black-2 {
    background-color: #393E46;
}

.unActiveButton {
    background-color: #222831;
    border: 0;
    color: white;    
}

.activeButton {
    background-color: #6c757d;
    border: 0;
    color: white;    
}

.dropdown {
    display: flex;
}

.dropdownButton {
    text-align: left;
    color: white;
    background-color: #222831;
    border: none;
    flex-grow: 1;
    padding: 0.375rem 1rem;
}

.dropdownToggle {
    border: none;
    border-radius: 0%;
    color: white;
    background-color:  #222831;
}

.dropdownButton:hover {
    opacity: 80%;
}

.dropdownToggle:hover {
    opacity: 80%;
}

.activeDropdown {
    background-color:  #6c757d;
}

.h-95 {
    height: 95%;
}